<div class="wrapper" [formGroup]="form" fxLayout="column" fxLayoutGap="20px">
  <mat-card>
    <mat-card-title>Normal input</mat-card-title>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Normal input" formControlName="input" required>
        <mat-error *ngIf="form.get('input').hasError('required')">required</mat-error>
        <mat-hint>Some hint under input</mat-hint>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Codemirror: HTML</mat-card-title>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <mat-codemirror formControlName="html" required [options]="{ theme: 'eclipse', mode: 'htmlmixed' }" placeholder="HTML"></mat-codemirror>
        <mat-error *ngIf="form.get('html').hasError('required')">required</mat-error>
        <mat-hint>Type in some HTML code</mat-hint>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Codemirror: SASS</mat-card-title>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <mat-codemirror formControlName="sass" required [options]="{ theme: 'eclipse', mode: 'sass' }" placeholder="SASS code"></mat-codemirror>
        <mat-error *ngIf="form.get('sass').hasError('required')">required</mat-error>
        <mat-hint>SASS sample</mat-hint>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Codemirror: YAML</mat-card-title>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <mat-codemirror formControlName="yaml" required [options]="{ theme: 'neat', mode: 'yaml' }" placeholder="YAML code"></mat-codemirror>
        <mat-error *ngIf="form.get('yaml').hasError('required')">required</mat-error>
        <mat-hint>YAML config sample</mat-hint>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <button mat-raised-button (click)="onResetClick(this)" style="width: 100px; height: 50px;">        
    <span>Reset</span>
  </button>
</div>
